.container {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.row {
  width: 100%;
  display: flex;
  margin: 0.5em;
}

.left {
  width: 40%;
  font-weight: bold;
}

.right {
  /* Set the right side to add up to less than 100% (40%+55% < 100%) */
  /* To account for the margin in the row container */
  width: 55%;
}