.letter-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.letter {
  font-weight: bold;
  padding: 0.5em;
  border-style: solid;
  margin: 0.5em;
  background-color: rgb(238, 238, 238);
  width: 1em;
  height: 1.5em;
  text-align: center;
}

.letter[first-letter="true"] {
  border-color: black;
  background-color: #f7da21;
}

@media screen and (min-width: 1024px) {
  .letter {
    font-size: 25px;
  }
}