.background {
  background-color: #f7da21;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7da21;
}

h1 {
  margin-block-end: 0em;
}

.circle {
  margin-top: 1em;
}

.keyboard {
  display: block;
}

@media screen and (min-width: 1024px) {
  .keyboard {
    display: none;
  }
}